.dlstyle1 {
	width: 80px; color: rgb(0, 0, 0); font-size: 14px; float: left;
}
.dlstyle2 {
	color: rgb(0, 91, 154); font-size: 12px;
}
.dlstyle3 {
	border: 1px solid rgb(204, 204, 204); width: 100px; height: 15px; margin-top: 4px; margin-left: 10px;
}
.color2 {
	background-color: rgb(246, 253, 255);
}
.color3 {
	background-color: rgb(246, 253, 255);
}
