/************************/
/*       new1            /
/************************/
.info{height:160px;background-color:#f6f6f6;color:#666;text-align:left;padding:15px;}
.info .tit{font-size:15px;font-weight:bold;}
.info .price{font-size:13px;font-weight:bold;color:#d60808;}
.info .txt{font-size:12px;}
.morebtn{display:block;background:#d60808;font-size:17px;font-weight:bold;color:#fff;padding:10px;max-width:500px;width:100%;margin-left:auto;margin-right:auto;text-align:center;margin-bottom:40px;}
.morebtn:hover{background:#a80606;color:#fff;font-weight:bold;}
/************************/
/*       new2           /
/************************/
.tffy{max-width:350px;font-weight:100;}
.tffy:hover{font-weight:100;}
.part2{background: url("../img/rent/subscription.png") scroll no-repeat center center / cover transparent !important;height:165px;}
.part2 .tit{font-size:20px;font-weight:bold;text-align:center;padding-top:20px;}
.part2 .txt{font-size:14px;text-align:center;display:block;margin-bottom:20px;}
/************************/
/*       new3           /
/************************/
.part3{background:#fff;padding-top:25px;padding-bottom:25px;}
.ptit{font-size:25px;text-align:center;font-weight:400;}
.part3 .group{width:100%;}
/************************/
/*       new4           /
/************************/
.part4{background:#f6f6f6;padding-top:25px;padding-bottom:25px;}
.part4 .ppic img{width:100%;}
/**************************/
/*       part1         */
/**************************/
.tscale{transform:scale(1);}
.tscale:hover{transform:scale(1.02);}
.part1 {

}

.part1 ul {
    margin-top: 0px;
    margin-bottom: 20px;
}

.part1 ul li {
    text-align: center;
}

.part1 ul li i {
    margin: 10px auto;
}

.part1 ul li h2 {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 5px;
    margin-top: 15px;
}

.part1 ul li .txt {
    font-size: 14px;
}

.part1 ul li a {
    display: block;
    color: #bc141a;
    font-size: 14px;
    margin-top: 20px;
}

.part1 ul li a:hover .more-arr {
    margin-left: 5px;
}

/*************************/
.titline {
    height: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.titline .tit {
    color: #bc141a;
    font-size: 50px;
    float: left;
    width: 150px;
    height: 50px;
}

.titline .tit.tit2 {
    width: 230px;
}

.titline .tit.tit3 {
    width: 250px;
}

.titline .tit img {
    margin-top: -5px;
}

.titline .txt {
    height: 50px;
    width: 400px;
    float: left;
    color: #666;
    padding-top: 18px;
    font-size: 14px;
}

.titline .more {
    float: right;
    border: 1px solid #a0a0a0;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #a0a0a0;
    font-family: "宋体";
    border-radius: 22px;
    font-size: 25px;
    margin-top: 15px;
}

.titline .more:hover {
    color: #fff;
    background: #a0a0a0;
}

/**************************/
/*       part2         */
/**************************/
.part2, .part4 {
    background: #f3f3f3;
}

.bborder {
    margin-bottom: 20px;
    border-bottom: 1px solid #b7b7b7;
}

.bborder img {
    width: 100%;
}

.bborder .tit {
    font-size: 22px;
    display: block;
    margin-top: 30px;
    margin-bottom: 15px;
}

.bborder .txt {
    font-size: 14px;
    margin-bottom: 30px;
    display: block;
}
.hup{}
/*.hup:hover{margin-top:-10px;background:#f6f6f6;}*/
/**************************/
/*       part3            */
/**************************/
.part3 {
    background: #fff;
}

/**************************/
/*       part3            */
/**************************/

.part4 .n1 {
    width: 760px;
    height: 462px;
    float: left;
    margin-right: 1px;
}

.part4 .n2 {
    width: 408px;
    height: 231px;
    float: left;
    margin-bottom: 1px;
}

.part4 .n3 {
    width: 408px;
    height: 231px;
    float: left;
}

.n1, .n2, .n3 {
    background: #666;
    position: relative;
    overflow:hidden;
}

.n1 img, .n2 img, .n3 img {
    width: 100%;
    height: 100%;
}

.n1 .tit, .n2 .tit, .n3 .tit {
    background: rgba(0, 0, 0, 0.8);
    display: block;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.n1:hover img, .n2:hover img, .n3:hover img {transform:scale(1.05); }
.n1:hover .tit, .n2:hover .tit, .n3:hover .tit {
    color: #bf0000;
}

.part4 {
    padding-bottom: 80px;
}

@media (max-width: 768px) {
    .part2 .titline .more {
        margin-top: 0;
    }
    .part4{padding-bottom:0;}
.ed{height:400px !important;}
    .n1, .n2, .n3 {
        width: 100% !important;
    }
.edtxt{left:0 !important;max-width:98% !important;margin-left:1% !important;}
.ed1,.ed2,.ed3{height:400px !important;}
.carousel-inner > .item{background-size:cover;background-position:500px 0;}
    .part4 .n1{height:238px;margin-bottom:20px;}
    .part4 .n2{margin-bottom:20px;}
    .ed .searchint{width:280px;}
    .ed .searchint .sint{width:220px;}
    .ed .searchbar{width:320px;margin-left:-160px;}
      .titline .tit{font-size:30px;}
      .titline{margin-bottom:5px;}
}

@media (min-width: 768px) {
    .container {
        width: 1170px;
    }
    .part1 .container{width:960px !important;}


}


