/**************************/
/*       全站ico通用        */
/**************************/
.part1-ico {
    background: url(../img/ico-part1.png);
}

.part1-ico.part1-1 {
    width: 110px;
    height: 110px;
    display: block;
    background-position: 111px 112px;
}

.part1-ico.part1-2 {
    width: 110px;
    height: 110px;
    display: block;
    background-position: 221px 112px;
}

.part1-ico.part1-3 {
    width: 110px;
    height: 110px;
    display: block;
    background-position: 331px 112px;
}

.part1-ico.part1-4 {
    width: 110px;
    height: 110px;
    display: block;
    background-position: 441px 112px;
}
